@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.selectedBillPanel {
  background-color: $ui-01;
  border-top: 1px solid $ui-03;
}

.selectedBillContent {
  padding: layout.$spacing-05 0;
}

.expandedLoader {
  display: flex;
  justify-content: center;
  padding: layout.$spacing-05;
}

.billHistoryContainer {
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  padding-bottom: 0;
}

.billHistoryContainerNoBorder {
  border: none;

  .selectedBillPanel {
    border-top: none;
  }
}

.billDateCell {
  white-space: nowrap;
}

.cumulativeBillTotal {
  @include type.type-style('legal-01');
  color: $text-02;
  font-weight: normal;
}

.cumulativeBillTotalSummary {
  display: flex;
  justify-content: flex-start;
  padding: layout.$spacing-04 layout.$spacing-05;
  border-top: 1px solid $ui-03;
}

.billingActionContainer {
  display: flex;
  align-items: center;
}

.billingActionButton {
  inline-size: 9rem;
  justify-content: space-between;
}

.printMenuTrigger {
  :global(.cds--overflow-menu) {
    background: transparent;
  }
}

.pagination {
  overflow: hidden;

  &:global(.cds--pagination) {
    border-top: none;
  }
}
