@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.filterEmptyState {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: layout.$spacing-09 !important;
  text-align: center;
}

.filterEmptyStateTile {
  margin: auto;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: 0.5rem;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.headerContainer {
  background-color: colors.$gray-10;
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
  width: 100%;
}

.invoiceContainer {
  margin: layout.$spacing-05;
  border: 1px solid $ui-03;
}

.searchbox {
  flex: 1;
  
  input:focus {
    outline: 2px solid colors.$orange-40 !important;
  }
}

.table {
  td {
    border-bottom: none !important;
  }
}

.tableDescription {
  display: flex;
  align-items: flex-start;
  margin-top: layout.$spacing-02;
  column-gap: layout.$spacing-01;

  ::after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }

  & > span {
    @include type.type-style('body-01');
  }
}

.tableToolbar {
  width: 100%;
}

.toolbarWrapper {
  position: relative;
  width: 100%;
}

:global(.omrs-breakpoint-lt-desktop) {
  .toolbarWrapper {
    height: layout.$spacing-09;
  }
}

:global(.omrs-breakpoint-gt-tablet) {
  .toolbarWrapper {
    height: layout.$spacing-07;
  }
}

.actionButtons {
  display: flex;
  margin:  0;
  padding: 0;
}

.addBillItemButton {
  margin-left: auto;
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: layout.$spacing-03;
  
  :global(.cds--btn__icon) {
    margin-left: layout.$spacing-02;
  }
}